/* Styles for climate change visualisations */

body {

}
canvas {
    border-radius: 15px;
}
#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
    border-radius: 15px;
}
.centred {
    text-align: center;
}
.fullWidth {
    width: 100%;
}
.userInput {
    position: absolute;
    width: 20%;
    top: 10%;
    left: 2%;
}

.weather img {
    height: 80%;
    width: 70%;
}

#weatherViz {
    background-color: #f4eede;
}
.weatherInfo {
    font-size: 1.5em;
}
.header {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 2em;
    text-align: center;
}
.footer {
    width: 90%;
    height: 20px;
}
.dataInput {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}
.errorMsg {
    text-align: center;
    color: #ff2823;
}
#dob,
#timeStamp {
    text-align: right;
    font-size: 1em;
}
